<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/Icon/logo_bhxh.png")" type="image/x-icon" />
    <link rel="icon" href="@Url.Content("~/Content/Images/Icon/logo_bhxh.png")" type="image/x-icon" />
    <script src="@Url.Content("~/Scripts/ScriptDungChung.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery-1.12.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    @RenderSection("HeadResources", false)

</head>
<body>
    @Html.DevExpress().Panel(settings =>
{
    settings.Name = "HeaderPane";
    settings.FixedPosition = PanelFixedPosition.WindowTop;
    settings.Collapsible = true;
    settings.SettingsAdaptivity.CollapseAtWindowInnerWidth = 500;
    settings.ControlStyle.CssClass = "headerPane";
    settings.Styles.Panel.CssClass = "panel";
    settings.Styles.ExpandedPanel.CssClass = "expandedPanel";
    settings.Styles.ExpandBar.CssClass = "bar";
    settings.SetContent(() => Html.RenderPartial("HeaderPartialView", HeaderViewRenderMode.Full));
    settings.SetExpandBarTemplateContent((c) => Html.RenderPartial("HeaderPartialView", HeaderViewRenderMode.Title));
}).GetHtml()

    <script type="text/javascript">
        function updateHeaderMenuOrientation() {
            var orientation = HeaderPane.IsExpandable() ? 'Vertical' : 'Horizontal';
            if (orientation !== HeaderMenu.GetOrientation())
                HeaderMenu.SetOrientation(orientation);
        }
        var collection = ASPxClientControl.GetControlCollection();
        collection.ControlsInitialized.AddHandler(updateHeaderMenuOrientation);
        collection.BrowserWindowResized.AddHandler(updateHeaderMenuOrientation);
    </script>
    @Html.DevExpress().Panel(settings =>
{
    settings.Name = "MainPane";
    settings.ControlStyle.CssClass = "mainContentPane";
    settings.SetContent(RenderBody().ToHtmlString());
}).GetHtml()
</body>
</html>