@model System.Collections.IEnumerable
@{
    ViewBag.Title = "EIS v" + EIS.FEW.RouteConfig.Version + " | Quản lý tác vụ";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}

<style>
    .dxgvTable_EIS {
        border-right: 1px solid #c0c0c0;
    }

    #gvEditing_tcFooterRow {
        color: red !important;
    }

    .btnSearch:hover {
        background-image: url('/Content/Images/Icon-flat/Search-over.png');
        width: 32px;
        height: 32px;
    }

    .btnSearch:active {
        background-image: url('/Content/Images/Icon-flat/Search.png');
        width: 32px;
        height: 32px;
    }

    .dxgvSearchPanel_EIS {
        border: 0px none !important;
        padding: 0px !important;
    }

    .float_left_pms {
        float: left;
    }

    .height_10 {
        height: 10px;
        clear: both;
    }

    .dxgvSearchPanel_EIS > table {
        float: left;
        margin-bottom: 15px;
    }
</style>
<script>
    function StoreTypePms(lstMultiTypeCheck) {
        //alert(lstMultiTypeCheck);
        lstMultiTypeCheck = $.trim(lstMultiTypeCheck);
        $.ajax({
            type: "POST",
            url: '@Url.Action("ChangeMultiType", "Permission")',
            data: { lstMultiType: lstMultiTypeCheck },
            success: function () {
                popup_CANHBAO.Show();
            }
        });
    }
    function CanhBao(lstMultiTypeCheck) {

    }
</script>
<div style="padding : 10px; margin:auto">
    @Html.DevExpress().PopupControl(
            settings =>
            {
                settings.Name = "popup_CANHBAO";
                settings.HeaderText = "Thông báo";
                settings.Width = Unit.Pixel(300);
                settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
                settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
                settings.CloseOnEscape = true;
                settings.Modal = true;
                settings.AllowDragging = true;
                settings.CloseAction = CloseAction.CloseButton;
                settings.SetContent(() =>
                {
                    ViewContext.Writer.Write("<div style=\" padding : 10px\">");
                    Html.DevExpress().Label(
                        labelSettings =>
                        {
                            labelSettings.ControlStyle.CssClass = "label";
                            labelSettings.Text = "Thay đổi phạm vi là cực kỳ nguy hiểm, sẽ ảnh hưởng tới toàn bộ dữ liệu phân quyền. Bạn có chắc muốn thay đổi?";
                        }
                    )
                    .Render();

                    ViewContext.Writer.Write("</div><div style=\" padding : 10px\"> <table><tr><td style=\"padding : 10px; margin:auto\">");

                    Html.DevExpress().Button(
                        buttonSettings =>
                        {
                            buttonSettings.Name = "btCanhbao";
                            buttonSettings.ControlStyle.CssClass = "button";
                            buttonSettings.Width = 80;
                            buttonSettings.Text = "Đồng ý";
                            buttonSettings.ClientSideEvents.Click = "function(s, e){ popup_CANHBAO.Hide(); }";
                        }
                    )
                    .Render();
                    ViewContext.Writer.Write(" </td><td style=\"padding : 10px; margin:auto\">");
                    Html.DevExpress().Button(
                        buttonSettings =>
                        {
                            buttonSettings.Name = "btnCancel_Canhbao";
                            buttonSettings.ControlStyle.CssClass = "button";
                            buttonSettings.Width = 80;
                            buttonSettings.Text = "Hủy";
                            buttonSettings.ClientSideEvents.Click = "function(s, e){ popup_CANHBAO.Hide();gvEditing.CancelEdit(); }";
                        }
                    )
                    .Render();
                    ViewContext.Writer.Write("</td></tr></table></div><b class=\"Clear\"></b>");
                });
            }).GetHtml()
</div>
<div class="height_10"></div>
@Html.DevExpress().RoundPanel(settings =>
       {
           settings.Name = "roundPanel";
           settings.AllowCollapsingByHeaderClick = false;

           settings.ShowCollapseButton = false;
           settings.EnableAnimation = false;
           settings.HeaderText = "QUẢN LÝ TÁC VỤ";
           settings.Width = Unit.Percentage(80);
       }).GetHtml()
<div class="height_10"></div>
@Html.Partial("PERMISSIONPartial", Model)
<div class="height_10"></div>